.form {
  flex-basis: 100%;
}

.input{
  display: block;
  width: 50%;
  margin: $primary-size auto 0;
  border: $one-px-size solid $grey;
  border-radius: 5px;
  padding: $primary-size;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:$one-px-size;
  height:$one-px-size;
  overflow:hidden;
}

